<h3>Reserva</h3>

var nome = {{cliente.nome}};
<label >Nome:
  <input type="text" value=nome [(ngModel)]="dataInicial" placeholder="0"/>
</label>
<label >Morada:
  <input type="text" value=nome [(ngModel)]="dataInicial" placeholder="0"/>
</label>
<label >Telefone:
  <input type="text" value=nome [(ngModel)]="dataInicial" placeholder="0"/>
</label>
<label >Email:
  <input type="text" value=nome [(ngModel)]="dataInicial" placeholder="0"/>
</label>
<label >Nif:
  <input type="number" value=nome [(ngModel)]="dataInicial" placeholder="0"/>
</label>
<label >Nif:
  <input type="number" value=nome [(ngModel)]="dataInicial" placeholder="0"/>
</label>

<h3>Dados de Pagamento:</h3>
<label >Numero Cartão:
  <input type="number" value=nome [(ngModel)]="dataInicial" placeholder="0"/>
</label>
<label > Ano:
  <input type="number" value=nome [(ngModel)]="dataInicial" placeholder="0"/>
  Mês:
  <input type="number" value=nome [(ngModel)]="dataInicial" placeholder="0"/>
  CCV:
  <input type="number" value=nome [(ngModel)]="dataInicial" placeholder="0"/>
</label>
