<form class="modal-content" action="/action_page.php">
  <div class="container">
<div id="reserva">
<h3>Reserva de {{dataInicial | date: 'dd-MM-yyyy'}} até {{dataFinal | date: 'dd-MM-yyyy'}} de {{tipo}}</h3>
<p>Preço: {{calculaPreco()}}</p>
</div>
</div>
</form>
<br>

    <div *ngIf="inputReserva">
      <form class="modal-content" action="/action_page.php">
        <div class="container">
    <h3>Dados da Reserva:</h3>
    <label >Nome:
      <input type="text" value="{{myStorage.getItem('nome')}}" #nome/>
    </label> <br>
    <label >Morada:
      <input type="text" value="{{myStorage.getItem('morada')}}" #morada/>
    </label> <br>
    <label >Telefone:
      <input type="text" value="{{myStorage.getItem('numero_telefone')}}" #telefone placeholder="+351 961111111"/>
    </label> <br>
    <label >Email:
      <input type="text" value="{{myStorage.getItem('email')}}" #email/>
    </label><br>
    <label >Nif:
      <input type="number" value="{{myStorage.getItem('nif')}}" #nif placeholder="123456789"/>
    </label>
  </div>
  </form>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h3>Dados de Pagamento:</h3>
      <label >Numero Cartão:
        <input type="number" #numeroCartao placeholder="1111222233334444"/>
      </label> <br>
      <label > Ano:
        <input type="number" #ano placeholder="20"/> <br>
        Mês:
        <input type="number" #mes placeholder="05"/><br>
        CCV:
        <input type="number" #ccv placeholder="111"/><br>
      </label>

      <br>
      <button *ngIf="botaoR" (click)="mostraConf(nome.value, morada.value, telefone.value, email.value,
      nif.value, numeroCartao.value, ano.value, mes.value, ccv.value)" class="button">Reservar</button>
    </div>
  </form>
</div>

<div *ngIf="confirmacao">

  <h4>Nome: {{nome}}</h4>
  <h4>Morada: {{morada}}</h4>
  <h4>Telefone: {{telefone}}</h4>
  <h4>Email: {{email}}</h4>
  <h4>Nif: {{nif}}</h4>
  <h4>Numero de cartao: {{numeroCartao}}</h4>
  <h4>Validade do cartão: {{ano}}/{{mes}}</h4>
  <h4>ccv: {{ccv}}</h4>

<br>
<button  (click)="voltar()" class="button">Alterar Dados</button>
<button (click)="addReserva()" class="button">Confirmar reserva</button>
</div>
