<head>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <title></title>
</head>
<body>
<div class="grid">
  <div class="box_a">
    <div class="header">
      <h1 style="text-align: center; ">Cadeia de Hotéis</h1>
    </div>
  </div>
  <div class="box_b">
    <div class="navbar">
      <li *ngFor="let hotel2 of hotelList">
        <a routerLink="/{{hotel2._id}}">
          <span class="nome">{{hotel2.nome}}</span>
        </a>
      </li>
      <a href="#home">Home</a>
    </div>
  </div>
  <div class="box_c">
    <ul class="hotels">
      <li *ngFor="let hotel of hotelList">
        <!--
        <a routerLink="/{{hotel._id}}">
          <span class="nome">{{hotel.nome}}</span>
        <span class="nome2">{{primeiraFrase(hotel.descricao)}}</span></a>
        -->
        <a routerLink="/{{hotel._id}}">
        <img src="{{imgAleatoria(hotel)}}">
        <figcaption style="text-align: center">{{hotel.nome}}</figcaption>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
