img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

body {
  height: 125vh;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
}

.header {
  background-color: #0066cc;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  box-shadow: 0 0 25px 0 black;

}

.header h1{
  padding-left: 80px;
}


.hotels{
  list-style-type: none;
}
.hotels .nome{
  font-size: 25px;
  color: black;
}




