<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div *ngIf="emailCliente !== null">
  <div class="grid">
    <div class="box_a">
      <div class="header">
        <h1 style="text-align: center; ">Cadeia de Hotéis<!--- {{emailCliente}}!--></h1>
      </div>
    </div>
    <div class="box_b">
      <div class="navbar">
        <li *ngFor="let hotel2 of hotelList">
          <a routerLink="/{{hotel2._id}}">
            <span class="nome">{{hotel2.nome}}</span>
          </a>
        </li>
        <a href="">Home</a>
        <div *ngIf="emailCliente !== null && emailCliente.length === 0; else elseBlock">
          <a routerLink="/registar">Registar</a>
          <a routerLink="/login">Login</a>
        </div>
        <ng-template #elseBlock>
          <a href="">Cliente: {{emailCliente}}</a>
          <a routerLink="/conta">Conta</a>
          <a (click)="logOut()">Logout</a>
        </ng-template>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
