<!--<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>!-->
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Dados Pessoais:</h1>

      <label ><b>Nome</b>:
        <input type="text" value="{{myStorage.getItem('nome')}}"/>
      </label> <br>
      <label ><b>Morada</b>:
        <input type="text" value="{{myStorage.getItem('morada')}}"/>
      </label> <br>
      <label ><b>Telefone</b>:
        <input type="text" value="{{myStorage.getItem('numero_telefone')}}"/>
      </label> <br>
      <label ><b>Email</b>:
        <input type="text" value="{{myStorage.getItem('email')}}"/>
      </label><br>
      <label ><b>Nif</b>:
        <input type="number" value="{{myStorage.getItem('nif')}}"/>
      </label>
      <br>
      <br>
      <button type="button" class="savebtn">Guardar</button>
    </div>
  </form>
