<h3>Dados Pessoais:</h3>

<label >Nome:
  <input type="text" value="{{myStorage.getItem('nome')}}"/>
</label> <br>
<label >Morada:
  <input type="text" value="{{myStorage.getItem('morada')}}"/>
</label> <br>
<label >Telefone:
  <input type="text" value="{{myStorage.getItem('numero_telefone')}}"/>
</label> <br>
<label >Email:
  <input type="text" value="{{myStorage.getItem('email')}}"/>
</label><br>
<label >Nif:
  <input type="number" value="{{myStorage.getItem('nif')}}"/>
</label>
<br>
<br>
<button class="button">Guardar</button>
