<h1>Hotel: {{hotel.name}} </h1>
<h3>Hotel: {{hotel.description}} </h3>
<h3>Hotel: {{hotel.address}} </h3>
<h3>Hotel: {{hotel.coordinates}} </h3>
<h3>Hotel: {{hotel.phone_number}} </h3>
<h3>Hotel: {{hotel.email}} </h3>

<h3>Numero de quartos disponiveis:{{quartos.length}}</h3>

<h3>Desde :</h3>

<h3>Tipos de quartos:</h3>
<ul class="quartos">
  <li *ngFor="let tipo of tiposQuarto">
    <a routerLink="/{{hotel.id}}/{{tipoQuarto._id}}">
      <h3>Tipo de quarto: {{tipo.nome}} </h3>
      <h3>Numero de quartos :numeroQuartos(tipo)</h3>
      <h3>Serviços Disponiveis:</h3>
        <ul class="servicos">
          <li *ngFor="let servico of servicos">
            <span class="badge">{{servico.nome}}</span>
          </li>
        </ul>
    </a>
  </li>
</ul>



