<body>
<header>
  <h1>{{hotel.nome}}</h1>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
    </ul>
  </nav>
</header>


<h3>{{hotel.descricao}} </h3>
<h3>Morada: {{hotel.morada}} </h3>
<h3>Coordenadas: {{hotel.coordenadas}} </h3>
<h3>Telefone: {{hotel.numero_telefone}} </h3>
<h3>Email: {{hotel.email}} </h3>

<h3>Serviços Disponíveis:</h3>
<ul class="services">
  <li *ngFor="let servico of hotel.servicos">
    <a><span class="nome">{{servico}}</span> </a>
  </li>
</ul>


<h3>Numero de quartos disponiveis: {{numeroQuartos()}}</h3>

<h3>Desde: {{lowestPrice()}}€</h3>


  <h3>Preço</h3>
  <label >De:
    <input #authorName />
    Até
    <input #authorName />
  </label> <br>
  <br>
 <!-- <button (click)="add(authorName.value,authorFname.value); authorName.value='';authorFname.value='';" >
    Pesquisar
  </button>-->

<h3>Tipos de quartos:</h3>
<ul class="types">
  <li *ngFor="let tipo of getRoomTypes()">
    <a routerLink="/{{hotel._id}}/{{tipo}}" (click)="alteraTipo(tipo)">
      <span class="nome">{{tipo}}</span> </a>
        <p>Ainda existem {{getRoomNumber(tipo)}} quartos disponiveis</p>
        <p>Valor mais baixo na epoca baixa {{getCheapestRoom(tipo)}}€ </p>
        <p>Serviços disponíveis neste tipo de quarto</p>
        <ul class="servicos">
          <li *ngFor="let servico of getRoom(tipo)[0].servicos">
              <span class="nome">{{servico}}</span>
          </li>
        </ul>
    <br>
  </li>
</ul>

<ul class="imagens">
  <li *ngFor="let imagem of hotel.imagens">
    <img src="{{imagem}}">
  </li>
</ul>

</body>
